/* reset do CSS */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: MedievalSharp ,Arial, Helvetica, sans-serif;
}


header {
    background-color: rgb(161, 198, 214);
    color: rgb(0, 0, 0);
    padding: 60px;
    text-align: center;
}

main{
    background-color: rgb(196, 225, 237);
   flex: 1;
   padding: 48px 38px;
   width: 100%;
}

about-section {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 30px;
}


#titulo-sobre-mim {
    font-size: 40px;
    border-bottom: 2px solid rgb(254, 255, 255);
}

.texto-sobre-mim {
    font-size: 25px;
    padding-left: 30px;
}

hobbies {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 30px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 12px;
}

li {
    background-color: aliceblue;
    padding: 12px;
    border-left: 4px solid rgb(82, 189, 255);
    font-size: 16px;
    min-width: 250px;

}

li:hover {
    background-color: rgb(159, 205, 238);
    transform: translateX(5px);
    transition: all 0.3s ease;
}

#titulo-hobbies {
    font-size: 40px;
    border-bottom: 2px solid rgb(82, 189, 255);
    margin-bottom: 20px;
}

contact{
        display: block;
        background-color: rgb(255, 255, 255);
        width: 80%;
        margin: 0 auto;
        padding: 40px;
        border-radius: 12px;
        margin-bottom: 30px;
}

contact h2{
    margin-bottom: 8px;
    font-size: 30px;
    text-align: center;
}

contact p {
    margin-bottom: 8px;
    font-size: 22px;
    text-align: center;
}

contact a {
    color: rgb(71, 147, 214);
    text-decoration: none;
    font-weight: bold;
    padding:0.5rem 1rem;
    margin: 0 0.5rem;
    border: 2px solid rgb(77, 152, 196);
    border-radius: 25px;
    display: inline-block;
    transition: all 0.3s ease;
}

contact a:hover {
    background-color: rgb(69, 166, 236);
    color: rgb(123, 233, 248);
    transform: translateX(-2px);

}

footer {
    background-color: aliceblue;
    color: aliceblue;
    text-align: center;
    padding: 2rem;
    width: 100%;
}

footer p {
    font-size: 2rem;
}